table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: auto;

}

th {background-color: lightgray;}

td {
  padding-left: 5px;
  padding-right: 5px;
}

* {font-family: Calibri;}

#emailHelp {
  font-weight: bold;
  color: red;
}